//
   Created by GXP on 2015/10/24.

extends ../layout

block header-back
    img#back(src='/images/left-arrow.png')
block header-title
    | &nbsp;
block header-save
    img#collection(src='/images/shoucang.png')
block content
    #pro_top
        #pro_type.job_type= profile.typeName
        #pro_title
            #pro_h1= profile.title
            #pro_h2 工作日期: #{profile.start_time}-#{profile.end_time}
    #pro_key_point
        .pro_points= profile.address
            .vertical
        .pro_points 工资#{profile.settlementName}
            .vertical
        #pro_price.pro_points= profile.salary + profile.salaryName
    #pro_content
        .pro_content_h1 基本信息
        .pro_contents
            .pro_content_h2 发布机构
            .pro_content_pro= profile.companyName
        .pro_contents
            .pro_content_h2 薪资待遇
            .pro_content_pro= profile.salary + profile.salaryName
        .pro_contents
            .pro_content_h2 结算方式
            .pro_content_pro= profile.settlementName
        .pro_contents
            .pro_content_h2 招聘人数
            .pro_content_pro #{profile.hire_count}人
        .pro_contents
            .pro_content_h2 性别要求
            .pro_content_pro
                case profile.gender
                    when 0
                        | 男
                    when 1
                        | 女
                    when 2
                        | 不限
        .pro_contents
            .pro_content_h2 工作地点
            .pro_content_pro= profile.address
        .pro_contents
            .pro_content_h2 发布时间
            .pro_content_pro= profile.publish_time
        .pro_content_h1 工作简介
        .pro_contents
            .pro_content_h2 工作内容
            .pro_content_pro= profile.content
        .pro_contents
            .pro_content_h2 工作待遇
            .pro_content_pro= profile.treatment
        .pro_contents
            .pro_content_h2 工作要求
            .pro_content_pro= profile.requirement
        -if(sign != 1)
            #registration(job-id= profile.id) 立即报名
    #mask_profile
    #message_profile
        #message_title 确定报名？
        #message_content 确定将您的简历投递至该职位？
        #message_bottom
            #message_cancel.message_bottom 取消
            #message_done.message_bottom 好的
block footer
block script
    script.
        var profile = true;
        $("#registration").click(function() {
            $("#message_profile").css("left",($(window).width() - $("#message_profile").width())/2 + 'px');
            $("#message_profile").css("top",($(window).height() - $("#message_profile").height())/2 + 'px');
            $.ajax({
                url: "/weixin/teacher/profile/percentage?openId=" + sessionStorage.getItem('openId'),
                type: "get",
                success: function(data) {
                    if(data.success) {
                        profile = true;
                        $("#message_title").html("确定报名？");
                        $("#message_content").html("确定将您的简历投递至该职位？");
                    } else {
                        profile = false;
                        $("#message_title").html("请完善简历");
                        $("#message_content").html("请完善简历后再进行报名");
                    }
                }
            });
            $("#mask_profile,#message_profile").show();
        });
        $("#message_cancel").click(function() {
            $("#mask_profile,#message_profile").hide();
        });
        $("#message_done").click(function() {
            if(profile) {
                $.ajax({
                    url : "/weixin/company/insertSign",
                    type : "get",
                    dataType : "json",
                    data : {teacherId : sessionStorage.getItem('teacherId'),jobId : $("#registration").attr("job-id")},
                    success : function(data) {
                        alert('报名成功');
                        window.location.href = "/weixin/company/schedule?sign=1&teacherId=" + sessionStorage.getItem('teacherId')
                            + "&jobId=" + $("#registration").attr("job-id");
                    }
                });
            } else {
                window.location.href = "/weixin/teacher/profile?openId=" + sessionStorage.getItem('openId');
            }
            $("#mask_profile,#message_profile").hide();
        });