//
   Created by GXP on 2015/11/11.

extends ../layout
block style
    link(rel='stylesheet', href='/plugins/kalendae/kalendae.css')
    script(src='/plugins/kalendae/kalendae.standalone.js')
block header-back
    img#back(src='/images/left-arrow.png')
block header-title
    | 已报名兼职
block content
    #job_list(style='margin-top:0')
        .job(job-id= job.id)
            .job_type= job.typeName
            .job_content
                .job_time 工作日期: #{job.start_time}-#{job.end_time}
                .job_title= job.title
                .job_others #{job.address}
                    case job.gender
                        when 0
                            |  男
                        when 1
                            |  女
                        when 2
                            |  不限
                    | #{job.settlementName}
                    .job_price #{job.salary}#{job.salaryName}
    #schedule

block footer
block script
    script.
        $(document).on("click",".job",function() {
            var jobId = $(this).attr("job-id");
            location.href = "profile?sign=1&jobId=" + jobId;
        });
        $(document).on('click', '#back', function () {
            if($_GET['sign'] == 1) {
                location.href = "/weixin/company";
            } else {
                history.go(-1)
            }
        });