//
   Created by michel_feng on 15/10/21.

extends ../layout

block header-title
    | 个人中心

block content
    #content-top
        div(style="height:9px")
        if user && user.headImg
            img#content-img(src="#{user.headImg}", alt="")
        else
            img#content-img(src="/images/default-head.png", alt="")
        span#content-text= user && user.nickName ? user.nickName : ''

    #content-main
        #my_profile.content-line.bottom-line
            span.content-line-title 我的简历
            span.content-line-right
                span.count 已完成&nbsp;#{percent} %
                img(src="/images/right-arrow.png" alt=">")
        #sign_jobs.content-line.bottom-line
            span.content-line-title 已报名兼职
            span.content-line-right
                span.count #{signCount} 个
                img(src="/images/right-arrow.png" alt=">")
        #collect_jobs.content-line.bottom-line
            span.content-line-title 已收藏兼职
            span.content-line-right
                span.count #{collectCount} 个
                img(src="/images/right-arrow.png" alt=">")

block script
    script.
        $(function () {
            $('#find_job').click(function () {
                window.location.href = '/weixin/company?openId=#{userIds.openId}';
            });
            $('#personal_center').click(function () {
                //window.location.href = '/weixin/teacher?openId=#{userIds.openId}';
            });
        });
    script.
        $(function () {
            $('#personal_center').addClass('current');

            // 跳转到我的简历页面
            $('#my_profile').click(function () {
                window.location.href = "/weixin/teacher/profile?openId=#{userIds.openId}";
            });

            // 跳转到已报名兼职页面
            $('#sign_jobs').click(function () {
                window.location.href = "/weixin/teacher/sign?openId=#{userIds.openId}";
            });

            // 跳转到已收藏兼职页面
            $('#collect_jobs').click(function () {
                window.location.href = "/weixin/teacher/collect?openId=#{userIds.openId}";
            });
        });


